* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* To create space both side of the page */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


/* two button */

.orange--button {
    background-color: #F15B22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.white--button {
    background-color: #FFFFFF;
    color: #F15B22;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}


/* banner start */

.banner {
    background-image: url("assets/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.text--right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 50px 0;
}

.text {
    width: 50%;
    padding: 30px;
    text-align: right;
}


/* banner end */


/* failures start */

.disappointed_woman {
    width: 250px;
}

.failures__flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.child--one {
    width: 45%;
}

.child--two {
    width: 45%;
}

.d__flex {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.d__flex p {
    margin: 4px;
}


/* failures obviously end */


/* plans start */

.text--center {
    text-align: center;
}

.plans--flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 60px;
}

.plans--flex img {
    width: 60px;
}


/* plans executed */


/* positivity start */


/* #ed5c23  #c6916f*/

.positivity {
    background-image: url("assets/watch.png"), linear-gradient(to right, #ed5c23, #555635);
    background-blend-mode: lighten;
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.positivity--text {
    width: 50%;
    margin-left: 40px;
}

.positivity h2 {
    color: white;
    margin-bottom: 10px;
}


/* positivity should never end! */


/* footer start */

.footer {
    background-color: #151414;
    color: white;
    padding: 40px;
}

.footer__flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.footer--left {
    width: 45%;
}

.footer--right {
    margin-top: 20px;
    margin-left: auto;
    width: 45%;
}

.footer--right h4 {
    margin-bottom: 10px;
}

.footer--right button {
    margin-top: 10px;
}

.social img {
    width: 25px;
}


/* footer end */